$accentColor = #3eaf7c                      // 主题颜色
$textColor = #3eaf7c                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色

.home-blog .hero {
  text-align: center;
  margin:0 auto;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-main {
  background-position:50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
 }

 .scroll-down {
  width: 20px;
  height: 20px;
  display: block;
  margin: 12rem auto 0;
  bottom: 45px;
  font-size: 34px;
  text-align: center;
 }

 .bounce-enter-active {
    animation: bounce-in 5s 3s infinite;
 }

 .scroll-down:after{
  content: "";
  display: block;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: rotate(135deg);
 }

 .scroll-down, .scroll-down:after {
    width: 20px;
    height: 20px;
 }

@-webkit-keyframes bounce-in{
  0%{transform:translateY(0)}
  20%{transform:translateY(0)}
  50%{transform:translateY(-20px)}
  80%{transform:translateY(0)}
  to{transform:translateY(0)}
} 
 @keyframes bounce-in{
   0%{transform:translateY(0)}
   20%{transform:translateY(0)}
   50%{transform:translateY(-20px)}
   80%{transform:translateY(0)}
   to{transform:translateY(0)}
}